<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Stylesheets -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.typekit.net/dzf2sjt.css" />
<link rel="stylesheet" href="https://use.typekit.net/pkr8irj.css" />


<style>
/* Body > Html */
body,
    html {
  color: black;
  height:auto;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  text-wrap: pretty;
}

/* Folder Header */
.folder-header {
  display: none;
  visibility: hidden;
}

/* Folder_Post > Folder Container > Container */
.folder_post .folder-container .container {
  display: none;
}

/* Page > Parallax */
.page.parallax {
  padding-top: 0px !important;
}

/* Video Wrap */
.video-wrap {
  display: block;
  max-width: 100%;
  position: relative;
}

/* Video Wrap > Video */
.video-wrap video {
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}
</style>

<div class="video-wrap js-vertical-slider">
    <!-- Video Background (Desktop) -->
    <video class="d-md-block d-none"  playsinline auto autoplay loop muted controls
        style="width: 100%; object-fit: cover;">
        <source src="../../media/landscape_video-1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Mobile Video -->
    <video class="d-md-none d-block" playsinline auto autoplay loop muted controls
        style="width: 100%; object-fit: cover;">
        <source src="../../media/portrait_video-2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

