<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
/* Image Wrap */
.image-wrap {
  display: block;
  max-width: 100%;
  position: relative;
}

/* Image Wrap > Img */
.image-wrap img {
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}
</style>

<div class="image-wrap js-vertical-slider">
    <!-- Image Background (Desktop) -->
    <img class="d-md-block d-none" id="myImageDesktop" src="../../media/landscape-1.jpg" alt="Desktop Image" style="width: 100%; object-fit: cover;">

    <!-- Mobile Image -->
    <img class="d-md-none d-block" id="myImageMobile" src="../../media/landscape-2.jpg" alt="Mobile Image" style="width: 100%; object-fit: cover;">
    
    <!-- Slide Info with overlapping text -->
    <div class="slide-info" style="position: absolute; bottom: 13px; left: 0;margin-left: 18px;">
        <h5 style="color:white; margin-bottom: 5px">A NEW DIMENSION</h5>
        <div class="discover-more" style="color:white;">
            Discover more
        </div>
    </div>
    <!-- Clickable overlay -->
    <a href="$url('Page-Show', 'cid', 'a-new-dimension-this-fall-with-jatte')$"
        data-content-analytic='{"contentId":"homepage-parallax-banner","contentType":"asset","itemId":"homepage-parallax-banner","link":"images/homepage/2025/13aug25/a1.jpg?$staticlink$","text":"Homepage Parallax Banner Desktop"}'
        style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;text-decoration:none;">
    </a>
</div>
