<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<section class="d-block">
  <div class="position-relative text-center" style="margin: 100px 0px">
    <!-- Desktop Description -->
      <p class="mb-0 col-md-12 d-md-block d-none" style="font-family:baskerville; font-size:20px; width:80%; margin: 0 auto; text-align: center;">
        "Flow is a big one for me. Without flow you’re pushing against what is.<br>Dress for you, nobody else.” 
      </p>

      <!-- Mobile Description -->
      <p class="mb-0 col-md-12 d-block d-md-none" style="font-family:baskerville; font-size:20px; width:80%; margin: 0 auto; text-align: center;">
        "Flow is a big one for me. Without flow you’re pushing against what is. Dress for you, nobody else.” 
      </p>  
  </div>
</section>