<section class="text-center" style="margin-bottom: 50px;">
    <!-- Desktop Version -->
    <p class="d-none d-lg-block" style="font-family: proxima-nova; font-size:25px; width: 33%; margin: 0 auto; text-align: left; line-height:normal; margin-bottom: 50px;">
        There is a specific kind of magic in the unexpected. For Sydney-based designer & sculptor Tom Butterworth, that magic arrived in the form of a sandstone boulder blocking a job site for the former carpenter. 
    </p>
    <!-- Mobile Version -->
    <p class="d-block d-lg-none" style="font-family: proxima-nova; font-size:25px; width: 80%; margin: 0 auto; text-align: left; line-height:normal; margin-bottom: 50px">
        There is a specific kind of magic in the unexpected. For Sydney-based designer & sculptor Tom Butterworth, that magic arrived in the form of a sandstone boulder blocking a job site for the former carpenter. 
    </p>

    <p class="d-none d-lg-block" style="font-family: proxima-nova; font-size:14px; width: 33%; margin: 0 auto; text-align: left; line-height:normal;">
        Beyond the studio, Tom’s philosophy extends to his personal expression, treating fashion not as a uniform, but as a daily celebration of self. We speak to Tom about the discipline of patience, the evolution of his practice, and what it means to let the universe set the brief. 
    </p>
    <!-- Mobile Version -->
    <p class="d-block d-lg-none" style="font-family: proxima-nova; font-size:14px; width: 80%; margin: 0 auto; text-align: left; line-height:normal;">
        Beyond the studio, Tom’s philosophy extends to his personal expression, treating fashion not as a uniform, but as a daily celebration of self. We speak to Tom about the discipline of patience, the evolution of his practice, and what it means to let the universe set the brief. 
    </p>
</section>