<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Middle Image */
.middle-image {
  display: block;
  margin: 0 auto;
  width: 40%;
}

/* Middle Caption */
.middle-caption {
  font-size: 14px;
  margin: 30px auto 0;
  text-align: center;
  width: 60%;
}

/* Mobile — max-width: 768px */
@media (max-width: 768px) {
  /* Middle Image > Middle Caption */
  .middle-image,
    .middle-caption {
    width: 80%;
  }
}
</style>
<div style="margin-bottom: 100px">
  <a class="js-shop-the-collection" data-pid="PW2-15060012-4_BLK.CA" href="$url('Product-Show','pid','PW2-15060012-4_BLK.CA')$">
    <img 
      src="../../media/landscape.jpg" 
      class="middle-image">
  </a>
    <div class="middle-caption">
        An adherent of the “less is more” philosophy, what began as a childhood instinct for knitting and drawing has matured into a sophisticated design identity centred on restraint and materiality. Whether she is experimenting with the tactile potential of a new textile or exploring the structural limits of construction, her process remains rooted in a sense of discovery.
    </div>
</div>