<meta name="viewport" content="width=device-width, initial-scale=1.0">

<section id="horseprint" class="d-block text-center" style="margin: 100px 0px;">
    <!-- Common Title -->
    <p class="mb-0 p-0 col-md-12" style="font-family:proxima-nova; font-size:35px; width:100%; margin: 0 auto; text-align: center; line-height:33px;">
        Horse Print
    </p>
    <br>

    <!-- description -->
    <p class="mb-0" style="font-family:proxima-nova; font-size:14px; text-align: center; font-weight: 400; line-height:normal;">
        Created for the Year of the Horse, the motif reimagines a symbol long associated with momentum and progress. Rooted in heritage but designed for the present, it embodies continuity and evolution, reinterpreted for contemporary life.
    </p>

    <br><br>

    <!-- Anchor link (same for both) -->
    <a href="$url('Page-Show', 'cid', 'design-philosophy-horseprint')$" style="text-decoration: underline;" target="_blank">
        Discover Story
    </a>
</section>