<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<div class="two_col_banner banner_tile">
    <div class="banner_tile-image_wrapper banner_tile-image_wrapper--2x2">
        <a href="$url('Product-show','pid','PW2-15060012')$">
            <picture class="banner_tile-picture banner_tile-picture">
                <source class="two_col_banner-placeholder_image banner_tile-image w-100" media="(min-width: 721px)" srcset="../../media/landscape-1.jpg" />
                <img class="two_col_banner-placeholder_image banner_tile-image w-100" src="../../media/landscape-2.jpg" alt="">
            </picture>
        </a>
    </div>
    <!--    <div class="tile-body product_tile-body banner_tile-body d-none d-lg-block">
        <div class="badge badge-custom_gold">ONLINE EXCLUSIVE</div>
        <div class="pdp-link product_tile-name banner_tile-name">
            <a href="#" class="link product_tile-link banner_tile-link">Lizard-Effect Boxy Leather Bag</a>
        </div>
        <div class="price">
            <span class="sales">S$129.90</span>
        </div>
    </div> -->
</div>