<style>
/* Video */
video {
  height: auto;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
</style>
<div class="two_col_banner banner_tile">
    <div class="banner_tile-image_wrapper banner_tile-image_wrapper--2x2">
        <a href="$url('Product-show','pid','PM2-26320237')$">
            <!--<iframe src="https://player.vimeo.com/video/1111851244?h=b62587c3a2&autoplay=1&loop=1&autopause=0&muted=1&controls=1&volume=5&vol=5&background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; margin-top:0;margin-bottom:0"></iframe> -->
            <video class="" autoplay loop muted playsinline webkit-playsinline width="100%", height="auto",alt="">
                <source src="../../media/landscape_video-1.mp4" type="video/mp4">
            </video>
        </a>
    </div>
    <!--  <div class="tile-body product_tile-body banner_tile-body d-none d-lg-block">
        <div class="badge badge-custom_darkgrey banner_tile-badge_grey">rePEDRO</div>
        <div class="pdp-link product_tile-name banner_tile-name">
            <a href="#" class="link product_tile-link banner_tile-link">Lizard-Effect Boxy Leather Bag</a>
        </div>
        <div class="price">
            <span class="sales">S$129.90</span>
        </div>
    </div> -->
</div>