<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<style>
/* Banner_Tile Image_Wrapper  2X2 */
.banner_tile-image_wrapper--2x2 {
  position: relative;
  width: 100%;
}

/* Video > Banner_Tile Image */
video.banner_tile-image {
  display: block;
  filter: grayscale(0);
  height: 100%;
  left: 0;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
</style>

<div class="two_col_banner banner_tile">
    <div class="banner_tile-image_wrapper banner_tile-image_wrapper--2x2"> 
        <a class="js-shop-the-collection" data-pid="PM2-26320280_BLK.EM" data-collection-popup-url="$url('Page-CollectionProductsPopup')$" href="$url('Product-show','pid','PM2-26320280_BLK.EM')$"
            data-content-analytic='{"contentId":"pw-na-plp-banner_1_PM2-26320280_BLK.EM", "contentType": "asset"}'>
            <video 
                class="two_col_banner-placeholder_image banner_tile-image w-100"
                autoplay 
                loop 
                muted 
                playsinline
                poster="../../media/landscape-1.jpg">
                <source src="../../media/landscape_video-1.mp4" type="video/mp4">
            </video>
        </a>
    </div>
</div>
