<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<style type="text/css">
/* Body */
body {
  overflow-x: hidden;
}

/* Carousel Inner > Carousel Item */
.carousel-inner, .carousel-item {
  padding: 0 !important;
}

/* Carousel Item > Img */
.carousel-item img {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

/* Bottom Left */
.bottom-left {
  bottom: 30px;
  font-size: 22px;
  font-weight: 600;
  left: 16px;
  position: absolute;
}

/* Bottom Left Discover */
.bottom-left-discover {
  bottom: 13px;
  font-size: 14px;
  font-weight: 600;
  left: 16px;
  position: absolute;
}

/* Centered */
.centered {
  font-size: 22px;
  font-weight: 600;
  left: 50%;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
}

/* Centered Carousel */
.centered-carousel {
  font-size: 22px;
  font-weight: 600;
  left: 50%;
  position: absolute;
  top: 72%;
  transform: translate(-50%, -50%);
}

/* Centered Discover */
.centered-discover {
  left: 50%;
  position: absolute;
  top: 85%;
  transform: translate(-50%, -50%);
}

/* Home_Carousel Dots */
.home_carousel-dots {
  left: 50%;
  position: absolute;
  top: 76%;
  transform: translate(-50%, -50%);
}

/* Carousel Indicators */
.carousel-indicators {
  display: none;
}

/* Home Categories > Asset_Block */
.home-categories .asset_block {
  margin-bottom: 0;
}
</style>
<div class="asset_block container-fluid container_center_desktop">
   <div id="home-upper-banner-slide" class="carousel slide js-carousel" data-ride="carousel" data-interval="3000">
      <!-- slider dots if > 1 slide -->
      <ol class="carousel-indicators d-md-none">
         <li data-target="#home-upper-banner-slide" data-slide-to="0" class="active"></li>
         <li data-target="#home-upper-banner-slide" data-slide-to="1" class=""></li>
      </ol>
      <!-- END of slider dots -->
      <div class="carousel-inner">
         <div class="carousel-item active" style="z-index:1;">
            <div class="d-md-block d-none">
               <div class="row no-gutters">
                  <div class="col-12" style="padding:0px;">
                     <nav>
                        <ul style="padding:0px; margin-bottom:0px; display: flex; visibility: none; list-style-type: none;">
                           <li style="flex: auto ; list-style-type: none;">
                              <a href="$url('Search-Show', 'cgid', 'pnewin')$"
                                 data-content-analytic=
                                 '{"contentId": "e_bottompromobanner_generic_salestext_1", 
                                    "contentType": "asset"
                                 }'>
                                 <img alt="" class="product_list-hero_image" src="../../media/landscape-1.jpg"/>
                              </a>
                           </li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
        <div class="carousel-item" style="z-index:1;">
            <div class="d-md-block d-none">
               <div class="row no-gutters">
                  <div class="col-12" style="padding:0px;">
                     <nav>
                        <ul style="padding:0px; margin-bottom:0px; display: flex; visibility: none; list-style-type: none;">
                           <li style="flex: auto ; list-style-type: none;">
                              <a href="$url('Stores-Find')$"
                                 data-content-analytic=
                                 '{"contentId": "e_bottompromobanner_generic_salestext_1", 
                                    "contentType": "asset"
                                 }'>
                                 <img alt="" class="product_list-hero_image" src="../../media/landscape-2.jpg"/>
                              </a>
                           </li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- end of carousel inner -->
<!-- Mobile Carousel -->
<div class="asset_block container-fluid container_center_desktop" style="padding:0; margin:0;">
   <div id="home-upper-banner-slide-mobile" class="carousel slide js-carousel" data-ride="carousel" style="padding:0; margin:0;">
      <div class="carousel-inner d-block d-md-none">
         <div class="carousel-item active">
            <nav>
               <ul style="padding:0px; margin-bottom:0px; display: flex;visibility: none;list-style-type: none;">
                  <li style="flex: auto; list-style-type: none;">
                     <a href="$url('Search-Show', 'cgid', 'pnewin')$"
                        data-content-analytic=
                        '{"contentId": "e_bottompromobanner_generic_salestext_1", 
                           "contentType": "asset"
                        }'>
                        <img alt="" loading="lazy" class="product_list-hero_image" src="../../media/landscape-1.jpg"/></a>
                  </li>
               </ul>
            </nav>
         </div>
         <div class="carousel-item">
            <nav>
               <ul style="padding:0px; margin-bottom:0px; display: flex;visibility: none;list-style-type: none;">
                  <li style="flex: auto; list-style-type: none;">
                     <a href="$url('Stores-Find')$"
                        data-content-analytic=
                        '{"contentId": "e_bottompromobanner_generic_salestext_1", 
                           "contentType": "asset"
                        }'>
                        <img alt="" loading="lazy" class="product_list-hero_image" src="../../media/landscape-2.jpg"/></a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
</div>