<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Mobile — max-width: 991px */
@media (max-width: 991px) {
  /* Returns Table */
  .returns-table {
    table-layout: auto !important;
  }

  /* Returns Table > Tbody > Tr */
  .returns-table tbody,
    .returns-table tbody tr {
    display: block;
    width: 100%;
  }

  /* Returns Table > Tbody > Tr > Td */
  .returns-table tbody tr td {
    box-sizing: border-box;
    display: block;
    width: 100% !important;
  }
}
</style>

<table class="table table-bordered text-center returns-table" style="table-layout: fixed;">
    <thead class="thead-dark">
        <tr><th scope="colgroup" colspan="4">Returns Procedure</th></tr>
        <tr><th class="table-head_description text-color--dark-grey bg-color--lighter-grey" scope="colgroup" colspan="4">Please ensure that the item(s) meet our returns condition before submitting a return request.</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div><div>&nbsp;</div><img alt="" src="images/icons/01.Create Return Request.png?$staticlink$" style="width:50px;" title="" /></div>
                <div>&nbsp;</div>
                <div style="font-weight: 600;">1. Create Return Request</div>
                <div>Log in to PEDROSHOES.COM to view your order details under <a href="$url('Order-History')$"><u>My Purchases & Returns</u></a>. Click on "Submit a Return Request". Select the item(s) you wish to return and state the reason.<br><br>View our Returns Conditions below.</div>
                <div>&nbsp;</div>
            </td>
            <td>
                <div><div>&nbsp;</div><img alt="" src="images/icons/03.Bring Along.png?$staticlink$" style="width:50px;" title="" /></div>
                <div>&nbsp;</div>
                <div style="font-weight: 600;">2. Pack Parcel</div>
                <div>Once the return request is submitted, fill in the return slip and attach it to the returned items. Please pack the item(s) in its original packaging.</div>
                <div>&nbsp;</div>
            </td>
            <td>
                <div><div>&nbsp;</div><img alt="" src="images/icons/07.Car move.png?$staticlink$" style="width:50px;" title="" /></div>
                <div>&nbsp;</div>
                <div style="font-weight: 600;">3. Send Your Items</div>
                <div>PEDROSHOES.COM (RHSG022) <br> 9 Mosrael Place, Rowville <br> VIC <br>3178 <br>+61 390881376<br><br>Please note that shipping fee will be borne by you.</div>
                <div>&nbsp;</div>
            </td>
            <td>
                <div><div>&nbsp;</div><img alt="" src="images/icons/06.Email icon.png?$staticlink$" style="width:50px;" title="" /></div>
                <div>&nbsp;</div>
                <div>You will be notified via email once your return(s) has been processed.</div>
                <div>&nbsp;</div>
            </td>
        </tr>
    </tbody>
</table>