<style>
.duo-5050 {
    display: flex;
    padding: 0px 5%;
}

.duo-5050__col {
    width: 50%;
}

.duo-5050__heading {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: #363134;
    font-family: aktiv-grotesk-extended;
}

.duo-5050__text {
    margin: 0;
    font-size: 25px;
    line-height: 25px;
    color: #363134;
    font-family: aktiv-grotesk-extended;
}

@media (max-width: 767px) {
    .duo-5050 {
        display: flex;
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }

    .duo-5050__col {
        width: 100%;
    }
}

.description_body {
    font-family: proxima-nova;
    width: 90%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
    color: #363134;
}

@media (max-width: 767px) {
    .description_body {
        width: 80%;
        text-align: left;
    }
}
</style>

<!-- Two-column heading/subheading intro, followed by a centered body paragraph.. -->
<section class="duo-5050">
    <div class="duo-5050__col">
        <p class="duo-5050__heading">AXXIS</p>
    </div>

    <div class="duo-5050__col">
        <p class="duo-5050__text">A Pattern in Motion</p>
    </div>
</section>

<!-- desktop -->
<section style="margin: 100px 0px 50px;">
    <p class="description_body">
        Created to commemorate PEDRO's twentieth anniversary, AXXIS translates two decades of design into a distinctive visual language.<br>
        A geometric print unfolds through continuous repetition, bringing a sense of cohesion to the collection.
    </p>
</section>

