<style>
/* Slide Text */
.slide-text {
  bottom: 20px;
  color: #fff;
  left: 20px;
  position: absolute;
  z-index: 3;
}
</style>

<section class="text-center">
  <div class="row no-gutters">

    <!-- Large Image -->
    <div class="col-12 col-md-6 px-0 order-1 order-md-1" style="padding: 1px;">
      <a href="$url('Product-Show', 'pid', 'PW1-26480089-3_DK.BRW')$">
        <img 
          src="../../media/portrait-1.jpg" 
          alt="BOLD STRIDER" 
          class="w-100 h-100"
        />
        <div class="slide-text" style="color: black; padding-bottom: 0;">
          BOLD STRIDER
        </div>
      </a>
    </div>

    <!-- Product 13 -->
    <div class="col-6 col-md-3 px-0 order-2 order-md-2" style="padding: 1px;">
      <a href="$url('Product-Show', 'pid', 'PW1-26480089-3_DK.BRW')$">
        <img 
          src="../../media/portrait-2.jpg" 
          alt="Bridget Embossed Leather Heel Mules" 
          class="w-100 img-fluid"
        />
        <div class="text-center p-3" style="color: black;">
          Bridget Embossed Leather Heel Mules
        </div>
      </a>
    </div>

    <!-- Product 14 -->
    <div class="col-6 col-md-3 px-0 order-3 order-md-3" style="padding: 1px;">
      <a href="$url('Product-Show', 'pid', 'PW2-75060133_DK.BRW')$">
        <img 
          src="../../media/portrait-1.jpg" 
          alt="PEDRO Studio Phoebe Leather Tote Bag" 
          class="w-100 img-fluid"
        />
        <div class="text-center p-3" style="color: black;">
          PEDRO Studio Phoebe Leather Tote Bag
        </div>
      </a>
    </div>

  </div>
</section>

<div class="row no-gutters">
  <!-- Product 3 -->
  <div class="col-6 col-md-3 mx-0" style="padding: 1px;">
    <a href="$url('Product-Show', 'pid', 'PW2-75210185_COGNAC')$">
      <img 
        src="../../media/portrait-2.jpg" 
        alt="Shoulder Bag" 
        class="w-100 img-fluid" 
      />
      <div class="text-center d-flex justify-content-center p-3" style="color: black;">
        Shoulder Bag
      </div> 
    </a>
  </div>

  <!-- Product 4 -->
  <div class="col-6 col-md-3 mx-0" style="padding: 1px;">
    <a href="$url('Product-Show', 'pid', 'PW1-66600017-1_COGNAC')$">
      <img 
        src="../../media/portrait-1.jpg" 
        alt="Dee Suede Boat Shoes" 
        class="w-100 img-fluid" 
      />
      <div class="text-center d-flex justify-content-center p-3" style="color: black;">
        Dee Suede Boat Shoes
      </div>
    </a>
  </div>

  <!-- Product 5 -->
  <div class="col-6 col-md-3 mx-0" style="padding: 1px;">
    <a href="$url('Product-Show', 'pid', 'PW2-75210184_COGNAC')$">
      <img 
        src="../../media/portrait-2.jpg" 
        alt="Mini Shoulder Bag" 
        class="w-100 img-fluid" 
      />
      <div class="text-center d-flex justify-content-center p-3" style="color: black;">
        Mini Shoulder Bag
      </div>
    </a>
  </div>

  <!-- Product 6 -->
  <div class="col-6 col-md-3 mx-0" style="padding: 1px;">
    <a href="$url('Product-Show', 'pid', 'PW1-16380004_COGNAC')$">
      <img 
        src="../../media/portrait-1.jpg" 
        alt="Suede Chelsea Boots" 
        class="w-100 img-fluid" 
      />
      <div class="text-center d-flex justify-content-center p-3" style="color: black;">
        Suede Chelsea Boots
      </div>
    </a>
  </div>
</div>
