<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
/* Img Left Text Right */
.img-left-text-right {
  align-items: center;
  display: flex;
}

/* Img Left Text Right > Image Block */
.img-left-text-right .image-block {
  flex: 1;
  order: 1;
}

/* Img Left Text Right > Text Block */
.img-left-text-right .text-block {
  flex: 1;
  order: 2;
}

/* Mobile — max-width: 767px */
@media (max-width: 767px) {
  /* Img Left Text Right */
  .img-left-text-right {
    flex-direction: column;
  }

  /* Img Left Text Right > Image Block */
  .img-left-text-right .image-block {
    order: 1;
  }

  /* Img Left Text Right > Text Block */
  .img-left-text-right .text-block {
    order: 2;
  }
}

/* Img Left Text Right > Text Block > Inner Text */
.img-left-text-right .inner-text {
  margin: 0 auto;
  width: 50%;
}

@media (max-width: 767px) {
  .img-left-text-right .inner-text {
    width: 80%;
  }
}
</style>

<section class="img-left-text-right" style="align-items:center;">

    <!-- VIDEO BLOCK (LEFT) -->
    <div class="image-block">
        <video loading="lazy" width="100%" height="auto" style="display:block;" playsinline autoplay loop muted>
            <!-- Desktop video -->
            <source src="../../media/landscape_video-1.mp4" media="(min-width: 768px)" type="video/mp4">
            <!-- Mobile video -->
            <source  src="../../media/landscape_video-1.mp4" media="(max-width: 767px)" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <!-- TEXT BLOCK (RIGHT) -->
    <div class="text-block">
        <div class="inner-text">

            <!-- title -->
            <p class="mb-0" style="font-family:proxima-nova; font-size:14px; text-align:center; line-height:33px;">
                Design and Form
            </p>

            <!-- body -->
            <p class="mb-0" style="font-family:proxima-nova; font-size:20px; text-align:center; font-weight:400; line-height:normal;">
                Soft structure and thoughtful detailing lends to a distinctive profile while subtle detailing keeps the look refined. Intuitive in hand, the design is streamlined, balanced and made to sit comfortably.
            </p>

        </div>
    </div>

</section>