<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Pair Container > Img */
.pair-container img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

/* Pair Container > A */
.pair-container a {
  display: block;
  width: 100%;
}

/* Pair Container */
.pair-container {
  display: flex;
  gap: 15px;
  margin: 0 auto;
  width: 80%;
}

/* Mobile — max-width: 768px */
@media (max-width: 768px) {
  /* Pair Container */
  .pair-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }

  /* Pair Container > Img > A */
  .pair-container img,
  .pair-container a {
    width: 100%;
  }

  /* Pair Container > A */
  .pair-container a {
    margin-bottom: 15px;
    width: 100%;
  }

  /* Pair Container > A > Last Child */
  .pair-container a:last-child {
    margin-bottom: 0;
  }

  /* Pair Container > Img > First Child */
  .pair-container img:first-child {
    order: 2;
  }

  /* Pair Container > Img > Last Child */
  .pair-container img:last-child {
    order: 1;
  }
}
</style>



<div class="pair-container d-md-flex">
    <a href="$url('Product-Show','pid','PW1-66210006_CHALK')$">
      <picture>
        <!-- Mobile version (smaller image) -->
        <source srcset="../../media/portrait.jpg" alt="Bag" media="(max-width: 768px)">
        <!-- Web version (larger image) -->
        <img src="../../media/portrait.jpg" alt="Bag">
      </picture>
    </a>
    <a href="$url('Product-Show','pid','PW1-66210006_CHALK')$">
      <picture>
        <!-- Mobile version (smaller image) -->
        <source srcset="../../media/portrait.jpg" alt="Bag" media="(max-width: 768px)">
        <!-- Web version (larger image) -->
        <img src="../../media/portrait.jpg" alt="Bag">
      </picture>
    </a>
</div>
