<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Stylesheets -->
<link rel="stylesheet" href="https://use.typekit.net/dzf2sjt.css" />
<link rel="stylesheet" href="https://use.typekit.net/pkr8irj.css" />


<style>
/* Img Right Text Left */
.img-right-text-left {
  align-items: center;
  display: flex;
}

/* Img Right Text Left > Image Block > Img */
.img-right-text-left .image-block img {
  display:block;
  height:auto;
  width:100%;
}

/* Img Right Text Left > Image Block */
.img-right-text-left .image-block {
  flex: 1;
  order: 2;
}

/* Img Right Text Left > Text Block */
.img-right-text-left .text-block {
  flex: 1;
  order: 1;
}

/* Mobile — max-width: 767px */
@media (max-width: 767px) {
  /* Img Right Text Left */
  .img-right-text-left {
    flex-direction: column;
  }

  /* Img Right Text Left > Image Block */
  .img-right-text-left .image-block {
    order: 1;
  }

  /* Img Right Text Left > Text Block */
  .img-right-text-left .text-block {
    order: 2;
  }
}

/* Img Right Text Left > Text Block > Inner Text */
.img-right-text-left .inner-text {
  margin: 0 auto;
  width: 50%;
}

@media (max-width: 767px) {
  .img-right-text-left .inner-text {
    width: 80%;
  }
}
</style>

<section class="img-right-text-left" style="align-items:center;">

    <!-- TEXT BLOCK (LEFT) -->
    <div class="text-block" >
        <div class="inner-text">

            <!-- title -->
            <p class="mb-0" style="font-family:proxima-nova; font-size:14px; text-align:center; line-height:33px;">
                Design and Form
            </p>

            <!-- body -->
            <p class="mb-0" style="font-family:proxima-nova; font-size:20px; text-align:center; font-weight:400; line-height:normal;">
                Soft structure and thoughtful detailing lends to a distinctive profile while subtle detailing keeps the look refined. Intuitive in hand, the design is streamlined, balanced and made to sit comfortably.
            </p>

        </div>
    </div>

    <!-- IMAGE BLOCK (RIGHT) -->
    <div class="image-block">
        <a href="$url('Product-Show', 'pid', 'PW2-75210182_BROWN')$"> 
            <picture>
                <source srcset="../../media/portrait-1.jpg" media="(min-width: 768px)">
                <img src="../../media/portrait-1.jpg" alt="Shoes on white background" >
            </picture>
        </a>
    </div>

</section>