<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<style>
/* Slide Text */
.slide-text {
  bottom: 20px;
  color: #fff;
  left: 20px;
  position: absolute;
  z-index: 3;
}
</style>
<!-- Section -->
<section class="text-center d-md-block d-none">
	<div class="row no-gutters">
		<!-- Large Image -->
		<div class="col-6 px-0 d-md-block d-none" style="padding: 1px;"> <a href="$url('Product-Show', 'pid', 'PW1-26480089-3_DK.BRW')$">
          <img 
            src="../../media/portrait-1.jpg" 
            alt="BOLD STRIDER" 
            class="w-100 h-100"
          />
          <div class="slide-text" style="color: black; padding-bottom: 0;">
            BOLD STRIDER
          </div>
        </a>

		</div>
		<!-- Product 13 -->
		<div class="col-3 mx-0 d-md-block d-none" style="padding: 1px;"> <a href="$url('Product-Show', 'pid', 'PW1-26480089-3_DK.BRW')$">
          <img 
            src="../../media/portrait-2.jpg" 
            alt="Bridget Embossed Leather Heel Mules" 
            class="w-100 img-fluid"
          />
          <div class="text-center d-flex justify-content-center p-3" style="color: black;">
            Bridget Embossed Leather Heel Mules
          </div>
        </a>

		</div>
		<!-- Product 14 -->
		<div class="col-3 mx-0 d-md-block d-none" style="padding: 1px;"> <a href="$url('Product-Show', 'pid', 'PW2-75060133_DK.BRW')$">
          <img 
            src="../../media/portrait-1.jpg" 
            alt="PEDRO Studio Phoebe Leather Tote Bag" 
            class="w-100 img-fluid"
          />
        </a>

			<div class="text-center d-flex justify-content-center p-3" style="color: black;">PEDRO Studio Phoebe Leather Tote Bag</div>
		</div>
	</div>
</section>
<div class="row no-gutters">
	<!-- Product 15 -->
	<div class="col-3 mx-0 d-md-block d-none" style="padding: 1px;"> <a href="$url('Product-Show', 'pid', 'PW1-66600024_DK.BRW')$">
        <img 
          src="../../media/portrait-2.jpg" 
          alt="Leather Tassel Loafers" 
          class="w-100 img-fluid" 
        />
      </a>

		<div class="text-center d-flex justify-content-center p-3" style="color: black;">Leather Tassel Loafers</div>
	</div>
	<!-- Product 16 -->
	<div class="col-3 mx-0 d-md-block d-none" style="padding: 1px;"> <a href="$url('Product-Show', 'pid', 'PW2-35060028_WINE')$">
        <img 
          src="../../media/portrait-1.jpg" 
          alt="Leather Hobo Bag" 
          class="w-100 img-fluid" 
        />
        <div class="text-center d-flex justify-content-center p-3" style="color: black;">
          Leather Hobo Bag
        </div>
      </a>

	</div>
	<!-- Product 17 -->
	<div class="col-3 mx-0 d-md-block d-none" style="padding: 1px;"> <a href="$url('Product-Show', 'pid', 'PW1-66380046_DK.BRW')$">
        <img 
          src="../../media/portrait-2.jpg" 
          alt="Izzie Tote Bag" 
          class="w-100 img-fluid" 
        />
        <div class="text-center d-flex justify-content-center p-3" style="color: black;">
          Leather Mules
        </div>
      </a>

	</div>
	<!-- Product 18 -->
	<div class="col-3 mx-0 d-md-block d-none" style="padding: 1px;"> <a href="$url('Product-Show', 'pid', 'PW2-65060009_WINE')$">
        <img 
          src="../../media/portrait-1.jpg" 
          alt="Leather Bowling Bag" 
          class="w-100 img-fluid" 
        />
        <div class="text-center d-flex justify-content-center p-3" style="color: black;">
          Leather Bowling Bag
        </div>
      </a>

	</div>
</div>


<section class="text-center d-block d-md-none">
	<!-- Header Image -->
	<div class="row no-gutters">
		<div class="col-12 px-0"> <a href="$url('Product-Show', 'pid', 'PW1-26480089-3_DK.BRW')$">
          <img 
            src="../../media/portrait-2.jpg" 
            alt="BOLD STRIDER" 
            class="w-100 h-100"
          />
        </a>

			<div class="slide-text">BOLD STRIDER</div>
		</div>
	</div>
	<!-- Product Grid -->
	<div class="row no-gutters">
		<!-- Product 13 -->
		<div class="col-4 px-0 p-1"> <a href="$url('Product-Show','pid','PW1-26480089-3_DK.BRW')$">
          <img 
            src="../../media/portrait-1.jpg" 
            alt="Bridget Embossed Leather Heel Mules" 
            class="w-100 img-fluid"
          />
          <div class="text-center justify-content-center d-flex m-2 p-2" style="font-size: 10px;">
            Bridget Embossed Leather Heel Mules
          </div>
        </a>

		</div>
		<!-- Product 14 -->
		<div class="col-4 px-0 p-1"> <a href="$url('Product-Show','pid','PW2-75060133_DK.BRW')$">
          <img 
            src="../../media/portrait-2.jpg" 
            alt="PEDRO Studio Phoebe Leather Tote Bag" 
            class="w-100 img-fluid"
          />
          <div class="text-center justify-content-center d-flex m-2 p-2" style="font-size: 10px;">
            PEDRO Studio Phoebe Leather Tote Bag
          </div>
        </a>

		</div>
		<!-- Product 15 -->
		<div class="col-4 px-0 p-1"> <a href="$url('Product-Show','pid','PW1-66600024_DK.BRW')$">
          <img 
            src="../../media/portrait-1.jpg" 
            alt="Leather Tassel Loafers" 
            class="w-100 img-fluid"
          />
          <div class="text-center justify-content-center d-flex m-2 p-2" style="font-size: 10px;">
            Leather Tassel Loafers
          </div>
        </a>

		</div>
	</div>
	<!-- Product Grid -->
	<div class="row no-gutters">
		<!-- Product 16 -->
		<div class="col-4 px-0 p-1"> <a href="$url('Product-Show','pid','PW2-35060028_WINE')$">
          <img 
            src="../../media/portrait-2.jpg" 
            alt="Leather Hobo Bag" 
            class="w-100 img-fluid"
          />
          <div class="text-center justify-content-center d-flex m-2 p-2" style="font-size: 10px;">
            Leather Hobo Bag
          </div>
        </a>

		</div>
		<!-- Product 17 -->
		<div class="col-4 px-0 p-1"> <a href="$url('Product-Show','pid','PW1-66380046_DK.BRW')$">
          <img 
            src="../../media/portrait-1.jpg" 
            alt="Izzie Tote Bag" 
            class="w-100 img-fluid"
          />
          <div class="text-center justify-content-center d-flex m-2 p-2" style="font-size: 10px;">
            Izzie Tote Bag
          </div>
        </a>

		</div>
		<!-- Product 18 -->
		<div class="col-4 px-0 p-1"> <a href="$url('Product-Show','pid','PW2-65060009_WINE')$">
          <img 
            src="../../media/portrait-2.jpg" 
            alt="Leather Bowling Bag" 
            class="w-100 img-fluid"
          />
          <div class="text-center justify-content-center d-flex m-2 p-2" style="font-size: 10px;">
            Leather Bowling Bag
          </div>
        </a>

		</div>
	</div>
</section>