<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Left Right Big Small Wrapper */
.left-right-big-small-wrapper {
  margin: 0 auto;
  width:70%;
}

/* Left Right Big Small Layout */
.left-right-big-small-layout {
  align-items: start;
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
}

/* Left Right Big Small Left > Img */
.left-right-big-small-left img {
  display: block;
  height: auto;
  width: 100%;
}

/* Left Right Big Small Right */
.left-right-big-small-right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

/* Left Right Big Small Right > Img */
.left-right-big-small-right img {
  display: block;
  height: auto;
  margin-bottom: 12px;
  width: 100%;
}

/* Left Right Big Small Caption */
.left-right-big-small-caption {
  color: #888;
  font-family: proxima-nova;
  font-size: 10px;
}

/* Mobile — max-width: 768px */
@media (max-width: 768px) {
  /* Left Right Big Small Layout */
  .left-right-big-small-layout {
    gap: 40px;
    grid-template-columns: 1fr;
  }

  /* Left Right Big Small Wrapper */
  .left-right-big-small-wrapper {
    width: 100%;
  }

  /* Left Right Big Small Caption */
  .left-right-big-small-caption {
    text-align: left;
  }

  /* Left Right Big Small Right */
  .left-right-big-small-right {
    padding: 0px 40px;
  }
}
</style>
<div class="left-right-big-small-wrapper">
  <div class="left-right-big-small-layout">
    <!-- Left large image -->
    <div class="left-right-big-small-left">
      <a class="js-shop-the-collection" data-pid="PW2-75060135-1_BLK.CA" href="$url('Product-Show','pid','PW2-75060135-1_BLK.CA')$">
        <img src="../../media/landscape.jpg" alt="Left left-right-big-small image">
      </a>
    </div>

    <!-- Right column -->
    <div class="left-right-big-small-right">
      <a class="js-shop-the-collection" data-pid="PW2-75060135_L.TAUP" href="$url('Product-Show','pid','PW2-75060135_L.TAUP')$">
        <img src="../../media/landscape.jpg" alt="Right left-right-big-small image">
      </a>  
      <p class="left-right-big-small-caption">
        CARLOTTA @carlotta_cosi_<br>
        DESIGNER & MODEL
      </p>
    </div>

  </div>
</div>