<style>
.img-shift-left {
    width: 67%;
    margin: 100px 0 50px;
}

/* Holds the 2 images */
.img-shift-left__images {
    display: flex;
    gap: 0px;
}

.img-shift-left__link {
    display: block;
    width: 50%;
}

.img-shift-left__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-shift-left__caption {
    margin: 12px 0 0;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    left: 50%;
    position: relative;
    color: #1a1a1a;
}

@media (max-width: 767px) {
    .img-shift-left {
        width: 100%;
        margin: 50px 0;
    }

    /* Keep images side by side on mobile */
    .img-shift-left__images {
        gap: 6px;
    }
}
</style>

<section class="img-shift-left">

    <div class="img-shift-left__images">
        <!-- IMAGE 1 -->
        <a class="img-shift-left__link js-shop-the-collection"data-pid="PM1-56380050_BLACK" href="$url('Product-Show','pid','PM1-56380050_BLACK')$">
            <picture>
                <source srcset="../../media/portrait-1.jpg" media="(min-width: 768px)" >
                <img class="img-shift-left__img" src="../../media/portrait-1.jpg" alt="Hybrix Leather Derby Shoes" >
            </picture>
        </a>
        <!-- IMAGE 2 -->
        <a class="img-shift-left__link js-shop-the-collection"data-pid="PM1-56380050_BLACK" href="$url('Product-Show','pid','PM1-56380050_BLACK')$">
            <picture>
                <source srcset="../../media/portrait-2.jpg" media="(min-width: 768px)" >
                <img class="img-shift-left__img" src="../../media/portrait-2.jpg" alt="Hybrix Leather Derby Shoes">
            </picture>
        </a>
    </div>
    <!-- One caption below both images -->
    <p class="img-shift-left__caption">
        Hybrix Leather Derby Shoes
    </p>

</section>