<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>
/* Responsive Width */
.responsive-width {
  display: block;
  margin: 100px auto;
  width: 33%;
}

/* Responsive Width > Img */
.responsive-width img {
  display: block;
  height: auto;
  width: 100%;
}

/* Mobile — max-width: 768px */
@media (max-width: 768px) {
  /* Responsive Width */
  .responsive-width {
    width: 90%;
  }
}
</style>

<div class="responsive-width">
    <a href="$url('Product-Show','pid','PM1-66210004_DK.TAU')">
      <picture>
        <!-- Mobile version (smaller image) -->
        <source src="../../media/landscape.jpg" alt="Bag" media="(max-width: 768px)">
        <!-- Web version (larger image) -->
        <img src="../../media/landscape.jpg" alt="Bag">
      </picture>
    </a>
</div>