<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Flex Collage */
.flex-collage {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(25, 1fr);
  margin: 0 auto;
  row-gap: 4rem;
}

/* Flex Collage > Img */
.flex-collage img {
  display: block;
  width: 100%;
}

/* Flex Hero */
.flex-hero {
  grid-column: 1 / -1;
}

/* Flex Mid */
.flex-mid {
  grid-column: 10 / 17;
}

/* Flex Left Large */
.flex-left-large {
  grid-column: 4 / 13;
}

/* Flex Right Large */
.flex-right-large {
  grid-column: 14 / 23;
}

/* Flex Small Detail */
.flex-small-detail {
  grid-column: 14 / 18;
}

/* Flex Right Small */
.flex-right-small {
  grid-column: 15 / 23;
  margin-top: -8rem;
}

/* Flex Bottom */
.flex-bottom {
  grid-column: 10 / 17;
}

/* Mobile — max-width: 768px */
@media (max-width: 768px) {
  /* Flex Collage */
  .flex-collage {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  /* Flex Collage > Div */
  .flex-collage > div {
    grid-column: 1 / -1;
  }

  /* Flex Hero */
  .flex-hero {
    order: 1;
  }

  /* Flex Right Large */
  .flex-right-large {
    order: 1;
  }

  /* Flex Mid */
  .flex-mid {
    order: 2;
    padding: 0rem 2rem
  }

  /* Flex Small Detail */
  .flex-small-detail {
    order: 3;
    padding-left: 30%;
    padding-right: 2rem;
  }

  /* Flex Left Large */
  .flex-left-large {
    order: 4;
    padding-left: 2rem;
    padding-right: 30%;
  }

  /* Flex Right Small */
  .flex-right-small {
    margin-top: 0rem;
    order: 5;
    padding-left: 30%;
    padding-right: 2rem;
  }

  /* Flex Bottom */
  .flex-bottom {
    order: 6;
    padding: 0rem 2rem
  }
}
</style>


<div class="flex-collage">

    <!-- HERO -->
    <div class="item flex-hero">
      <a class="js-shop-the-collection" data-pid="PW2-35210023_DK.BRW,PM2-26320271-1_DBW.PO" href="$url('Product-Show', 'pid','PW2-35210023_DK.BRW')$">
        <img src="../../media/landscape.jpg" alt="">
      </a>
    </div>

    <!-- MID -->
    <div class="item flex-mid">
      <a class="js-shop-the-collection" data-pid="PW2-75210188_RED,PW2-75210188-1_DBW.PO,PW2-75210188_BLACK" href="$url('Product-Show', 'pid','PW2-75210188_RED')$">
      <img src="../../media/landscape.jpg" alt="">
      </a>
    </div>

    <!-- LEFT LARGE -->
    <div class="item flex-left-large">
      <a class="js-shop-the-collection" data-pid="PW2-75210188-1_DBW.PO,PW1-25580418_BLACK" href="$url('Product-Show', 'pid','PW2-75210188-1_DBW.PO')$">
        <img src="../../media/landscape.jpg" alt="">
      </a>
    </div>

    <!-- SMALL DETAIL -->
    <div class="item flex-small-detail">
      <a class="js-shop-the-collection" data-pid="PW1-66600007-6_DBW.PO" href="$url('Product-Show', 'pid','PW1-66600007-6_DBW.PO')$">
        <img src="../../media/landscape.jpg" alt="">
      </a>
    </div>

    <!-- RIGHT SMALL -->
    <div class="item flex-right-small">
      <a class="js-shop-the-collection" data-pid="PW1-25580418_BLACK" href="$url('Product-Show', 'pid','PW1-25580418_BLACK')$">
        <img src="../../media/landscape.jpg" alt="">
      </a>
    </div>

    <!-- BOTTOM -->
    <div class="item flex-bottom">
      <a class="js-shop-the-collection" data-pid="PM2-26320274_NAVY,PM1-76210283_NAVY" href="$url('Product-Show', 'pid','PM2-26320274_NAVY')$">
        <img src="../../media/landscape.jpg" alt="">
      </a>
    </div>

  </div>
