<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Stylesheets -->
<link rel="stylesheet" href="https://use.typekit.net/dzf2sjt.css" />
<link rel="stylesheet" href="https://use.typekit.net/pkr8irj.css" />


<style>
/* Image Text Spread Grid */
.image-text-spread-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(26, 1fr);
  margin: 0 auto;
  padding: 100px 0px;
}

/* First Grid */
.first-grid {
  grid-column: 3 / 15;
}

/* Second Grid */
.second-grid {
  align-self:start;
  grid-column: 17 / 27;
  width: 80%;
}

/* Mobile — max-width: 768px */
@media (max-width: 768px) {
  /* First Grid */
  .first-grid {
    grid-column: 1 / 15;
  }

  /* Image Text Spread Grid */
  .image-text-spread-grid {
    display: grid;
    gap:0px;
    grid-template-columns: none;
    padding: 0px;
  }

  /* Image Text Spread Grid > Div > First Child */
  .image-text-spread-grid > div:first-child {
    margin: 0 auto;
    padding: 100px 0px;
    width: 80%  !important;
  }
}
</style>


<div class ="image-text-spread-grid">
    <div class="first-grid">
        <!-- Desktop version -->
        <a class="d-md-block d-none js-shop-the-collection" data-pid="PW2-36390021_OLIVE,PW1-46480004_COGNAC" href="$url('Product-Show', 'pid', 'PW2-36390021_OLIVE')$"> 
            <img src="../../media/landscape.jpg" alt="Bag" style="width:100%; display:block;">
        </a>
        <!-- Mobile version -->
        <a class="d-block d-md-none js-shop-the-collection" data-pid="PW1-66050045_CHALK" href="$url('Product-Show', 'pid', 'PW1-66050045_CHALK')$"> 
            <img src="../../media/landscape.jpg" alt="Bag" style="width:100%; display:block;">
        </a>
    </div>
    <div class="second-grid d-md-block d-none">
        <p style="font-family: baskerville; font-size: 20px; line-height: 1.75; margin: 0;">
            "I learned not to mistake my personal identity for my professional persona. 
            I use the spotlight to my benefit, but I do not let it define me."
        </p>
    </div>
    <div class="d-block d-md-none" style ="margin-bottom:100px;">
        <!-- Mobile version -->
        <a class="d-block d-md-none js-shop-the-collection" data-pid="PW2-75210163-14_MUL.TU" href="$url('Product-Show', 'pid', 'PW2-75210163-14_MUL.TU')$"> 
            <img src="../../media/landscape.jpg" alt="Bag" style="width:100%; display:block;">
        </a>
    </div>

</div>