<style>
/* Curated Bottom Left */
.curated-bottom-left {
  bottom: 30px;
  color: black;
  font-size: 22px;
  font-weight: 600;
  left: 16px;
  position: absolute;
}

/* Curated Bottom Left Discover */
.curated-bottom-left-discover {
  bottom: 13px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  left: 16px;
  position: absolute;
}
</style>
<!--TITLE-->
<div style="background-color: #f8f8f8;">
  <div class="text-center" style="font-size: 30px; padding-top: 2rem; padding-bottom: 2rem;">
    CURATED BY THE HOUSE
  </div>
</div>

<!-- col-md-4: for 3 images, col-md-3: for 4 images -->
<div class="row no-gutters justify-content-center w-100" style="background-color: #f8f8f8;padding-bottom: 2rem;">
  <!-- Repeating block for each product -->
  <div class="col-10 col-md-4 w-100 card border-0 pl-4 pr-4 pb-3" style="background-color: #f8f8f8;">
    <a href="$url('Product-Show', 'pid', 'PW2-55060027-1_BLACK')$">
      <img src="../../media/landscape.jpg" class="card-img-top border-0 img-fluid w-100" />
      <div style="position: relative; text-align: center;">
        <div class="curated-bottom-left">WINTERKIN</div>
        <div class="curated-bottom-left-discover">Discover More</div>
      </div>
    </a>
  </div>

  <!-- Repeat the same block for other products -->
  <div class="col-10 col-md-4 w-100 card border-0 pl-4 pr-4 pb-3" style="background-color: #f8f8f8;">
    <a href="$url('Product-Show', 'pid', 'PW2-55060027-1_BLACK')$">
      <img src="../../media/landscape.jpg" class="card-img-top border-0 img-fluid w-100" />
      <div style="position: relative; text-align: center;">
        <div class="curated-bottom-left">WINTERKIN</div>
        <div class="curated-bottom-left-discover">Discover More</div>
      </div>
    </a>
  </div>

  <div class="col-10 col-md-4 w-100 card border-0 pl-4 pr-4 pb-3" style="background-color: #f8f8f8;">
    <a href="$url('Product-Show', 'pid', 'PW2-55060027-1_BLACK')$">
      <img src="../../media/landscape.jpg" class="card-img-top border-0 img-fluid w-100" />
      <div style="position: relative; text-align: center;">
        <div class="curated-bottom-left">WINTERKIN</div>
        <div class="curated-bottom-left-discover">Discover More</div>
      </div>
    </a>
  </div>

</div>
