<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.typekit.net/dzf2sjt.css" />
<link rel="stylesheet" href="https://use.typekit.net/pkr8irj.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>
/* Best Seller Container2 > Img */
.best-seller-container2 img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

/* Best Seller Container2 */
.best-seller-container2 {
  margin: 0 auto;
  width: 100%;
}

/* Best Seller Container2 > A */
.best-seller-container2 a {
  display: block;
  flex: 1;
}

/* Img Fluid */
.img-fluid {
  height: auto;
  max-width: 100%;
}

/* Text Container */
.text-container {
  bottom: 20px;
  color: black;
  font-family: 'proxima-nova';
  left: 20px;
  line-height: normal;
  position: absolute;
  z-index: 10;
}

/* Text Container > Best Seller Top Text */
.text-container .best-seller-top-text {
  font-size: 22px;
  font-weight: 600;
}

/* Text Container > Best Seller Bottom Text */
.text-container .best-seller-bottom-text {
  font-size: 14px;
  font-weight: 600;
}

/* Mobile Container > A */
.mobile-container a {
  display: block;
  position: relative;
}

/* Best Seller Container2 > A */
.best-seller-container2 a {
  position: relative;
  text-decoration: none;
}

/* Best Seller Container2 > A > Best Seller Bottom Text */
.best-seller-container2 a .best-seller-bottom-text {
  display: inline-block;
  position: relative;
}

/* Best Seller Container2 > A > Best Seller Bottom Text */
.best-seller-container2 a .best-seller-bottom-text::after {
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transition: width 0.3s ease;
  width: 0;
}

/* Best Seller Container2 > A > Best Seller Bottom Text */
.best-seller-container2 a:hover .best-seller-bottom-text::after {
  width: 100%;
}

/* Underline White */
.underline-white::after {
  background-color: white;
}

/* Underline Black */
.underline-black::after {
  background-color: black;
}
</style>

<div class="best-seller-container2 d-md-flex d-none">
    <!-- Left Image -->
    <a  data-content-analytic='{"contentId": "d_bestsellers_pw_productimage_1","contentType": "asset"}' 
        href="$url('Product-Show', 'pid','PW1-66600026_BROWN')$">
        <img alt="Left Image"  class="img-fluid w-100" loading="lazy"
            src="../../media/landscape-1.jpg"/>
        <div class="text-container">
            <div class="best-seller-top-text">REFINED RESURGENCE</div>
            <div class="best-seller-bottom-text underline-white">Shop the Collection</div>
        </div>
    </a>
    <!-- Right Image -->
    <a data-content-analytic='{"contentId": "d_bestsellers_pm_productimage_1","contentType": "asset"}' 
        href="$url('Product-Show', 'pid','PM2-26320217-4_BLACK')$">
        <img alt="Right Image"  class="img-fluid w-100" loading="lazy"
            src="../../media/landscape-2.jpg"/>
        <div class="text-container">
            <div class="best-seller-top-text" style ="color:black;">ELEVATED EVERYDAY</div>
            <div class="best-seller-bottom-text underline-black" style ="color:black;">Shop the Collection</div>
        </div>
    </a>
</div>

