<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Pair Image Desktop */
.pair-image-desktop {
  width: 100%;
}

/* Pair Image Desktop > A */
.pair-image-desktop a {
  display: block;
  width: 50%;
}

/* Pair Image Desktop > Img */
.pair-image-desktop img {
  display: block;
  width: 100%;
}

/* Split Number Text Desktop */
.split-number-text-desktop {
  align-items: start;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 50px;
}

/* Left Num > Span */
.left-num span {
  font-family: Baskerville;
  font-size: 14px;
  letter-spacing: 0.08em;
  padding-left: 10px;
}

/* Right Text > Span */
.right-text span {
  display: block;
  font-family: Baskerville;
  font-size: 14px;
  letter-spacing: 0.08em;
  padding-left: 10px;
}

/* Mobile — max-width: 768px */
@media (max-width: 768px) {
  /* Split Number Text Desktop */
  .split-number-text-desktop {
    display: none;
  }
}
</style>

<!-- DESKTOP: Pair images 05, 06 with item labels 02, 03 -->
<div class="pair-image-desktop d-none d-md-flex">
  <a class="js-shop-the-collection" data-pid="PM2-26320284_DK.BRW" href="$url('Product-Show','pid','PM2-26320284_DK.BRW')$">
    <img src="../../media/portrait.jpg" alt="Bag">
  </a>

  <a class="js-shop-the-collection" data-pid="PW2-45210039_CHALK" href="$url('Product-Show','pid','PW2-45210039_CHALK')$">
    <img src="../../media/portrait.jpg" alt="Bag">
  </a>
</div>

<!-- Item labels 02, 03 -->
<div class="split-number-text-desktop">
  <div class="left-num"><span>( 02 )</span></div>
  <div class="right-text"><span>( 03 )</span></div>
</div>
