<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

.video-media-container {
    width: 80%;
    margin: 0 auto;
}
.iframe-wrapper iframe {
    filter: grayscale(0);
}

/* Mobile — max-width: 768px */
@media (max-width: 768px) {
  .video-media-container {
    width: 100%;
  }
}
</style>

<div class="video-media-container">
  <!-- Desktop Video -->
  <div class="iframe-wrapper d-none d-md-block" style="padding:56.2% 0 0 0;position:relative;">
    <iframe
      src="https://player.vimeo.com/video/1216359775?h=2c9ec2fc44&badge=0&autopause=0&player_id=0&app_id=58479&autoplay=1&muted=1&controls=0&loop=1"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      title="MasterFilm_16x9">
    </iframe>
  </div>

  <!-- Mobile Video -->
  <div class="iframe-wrapper d-block d-md-none" style="padding:56% 0 0 0;position:relative;">
    <iframe
      src="https://player.vimeo.com/video/1216031514?h=71e9590ebc&badge=0&autopause=0&player_id=0&app_id=58479&autoplay=1&muted=1&loop=1&controls=0"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
      title="dialogue-ana-kras-video_mobile">
    </iframe>
  </div>

</div>

