<style>
/* Pair Image Mobile */
.pair-image-mobile {
  width: 100%;
}

/* Pair Image Mobile > A > Img */
.pair-image-mobile a,
.pair-image-mobile img {
  display: block;
  width: 100%;
}

/* Pair Image Mobile > P */
.pair-image-mobile p {
  font-family: Baskerville;
  margin-bottom: 50px;
  padding-left: 10px;
}
</style>

<!-- MOBILE: Editorial images for items 04, 05, 06 -->

<!-- Item 04 (images 07, 08) -->
<div class="pair-image-mobile d-block d-md-none" style="margin-bottom: 50px;">
  <img src="../../media/portrait.jpg" alt="Bag">
  <a class="js-shop-the-collection" data-pid="PW2-15210023_DK.BRW" href="$url('Product-Show','pid','PW2-15210023_DK.BRW')$">
    <img src="../../media/portrait.jpg" alt="Bag">
  </a>
  <p>( 04 )</p>
</div>

<!-- Items 05, 06 (images 09, 10) -->
<div class="pair-image-mobile d-block d-md-none" style="margin-bottom: 50px;">
  <a class="js-shop-the-collection" data-pid="PW1-66220046_CHK.WE" href="$url('Product-Show','pid','PW1-66220046_CHK.WE')$" style="width: 70%; margin: 0 auto;">
    <img src="../../media/portrait.jpg" alt="Bag">
  </a>
  <p style="margin-left:15%;">( 05 )</p>
  <a class="js-shop-the-collection" data-pid="PW1-66220046_CHK.WE" href="$url('Product-Show','pid','PW1-66220046_CHK.WE')$">
    <img src="../../media/portrait.jpg" alt="Bag">
  </a>
  <p>( 06 )</p>
</div>
