<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<style>
/* Split Top Row */
.split-top-row {
  align-items: start;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Split Title */
.split-title {
  font-family: Baskerville;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

/* Split Desc */
.split-desc {
  font-size: 14px;
  line-height: 1.45;
  margin: 0;
}
</style>

<!-- MOBILE: "Endless summer" mid-section text -->
<div class="split-top-row d-md-none" style="padding: 0px 50px; margin-bottom:50px; grid-template-columns:65% 35%">
  <p class="split-desc">
    This atmosphere of an endless summer serves as a tonal backdrop to the collection.
    Guided by a philosophy of breathability, the aesthetic remains disciplined yet soulful,
    creating an adaptable system of dress for a life lived in the light.
  </p>
  <p class="split-title" style="font-size: 14px; text-align: right;">Summer 26</p>
</div>
