<style>
/* Mobile Product List */
.mobile-product-list {
  margin-bottom: 38px;
  padding: 0px 50px;
}

/* Mobile Product List > Div */
.mobile-product-list div {
  display: grid;
  grid-template-columns: 60px 1fr;
  margin-bottom: 12px;
}

/* Mobile Product List > Span */
.mobile-product-list span {
  font-family: Baskerville;
  font-size: 13px;
  letter-spacing: 0.08em;
}

/* Mobile Product List > P */
.mobile-product-list p {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}
</style>

<!-- MOBILE: Product list items 01–06 -->
<div class="mobile-product-list d-block d-md-none">
  <div><span>( 01 )</span><p>Melka Oversized Tote Bag</p></div>
  <div><span>( 02 )</span><p>Utility Tote Bag</p></div>
  <div><span>( 03 )</span><p>Melka Oversized Tote Bag</p></div>
  <div><span>( 04 )</span><p>Loli Leather Bucket Bag</p></div>
  <div><span>( 05 )</span><p>Brynn Woven Loafers</p></div>
  <div><span>( 06 )</span><p>Woven Thong Sandals</p></div>
</div>
