<style>
/* Pair Image Mobile */
.pair-image-mobile {
  width: 100%;
}

/* Pair Image Mobile > A > Img */
.pair-image-mobile a,
.pair-image-mobile img {
  display: block;
  width: 100%;
}

/* Pair Image Mobile > P */
.pair-image-mobile p {
  font-family: Baskerville;
  margin-bottom: 50px;
  padding-left: 10px;
}
</style>

<!-- MOBILE: Editorial images for items 02, 03 -->

<!-- Items 02, 03 (images 02, 01) -->
<div class="pair-image-mobile d-block d-md-none">
  <a class="js-shop-the-collection" data-pid="PM2-26320284_DK.BRW" href="$url('Product-Show','pid','PM2-26320284_DK.BRW')$">
    <img src="../../media/portrait.jpg" alt="Bag">
  </a>
  <p style="margin-bottom: 20px;">( 02 )</p>
  <a class="js-shop-the-collection" data-pid="PW2-46390031_OLIVE" href="$url('Product-Show','pid','PW2-46390031_OLIVE')$">
    <img src="../../media/portrait.jpg" alt="Bag">
  </a>
  <p style="margin-bottom: 20px;">( 03 )</p>
</div>
