<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<style>
/* Split Top Row */
.split-top-row {
  align-items: start;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Split Desc */
.split-desc {
  font-size: 14px;
  line-height: 1.45;
  margin: 0;
}
</style>

<!-- MOBILE: Closing poem text -->
<div class="split-top-row d-md-none" style="padding: 0px 50px; margin-bottom:50px; grid-template-columns:50% 50%">
  <p class="split-desc">
    Summer 2026<br>
    is a dive into the deep;<br>
    an instinct for the sun,<br>
    the salt on the skin,<br>
    and the cadence of the tide.
  </p>
</div>
